section{
    -webkit-box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow:0px 10px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.75);
}
.botones{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: rgb(242,242,242,255);
    width: 40%;
    height: 550px;
    padding: 1.2%;
    border-radius: 1%;
}
button{
    -webkit-box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow:0px 10px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.75);
}
button, input{
    border-radius: 5%;
    width: 98,75%;
    font-size: 175%;
    border: none;
}
.botones{
    display: grid;
    gap: 3%;
}
.operacion{ 
    grid-column: 1/5;
    grid-row: 1/2;

}
.num{
    background-color: white;
}
.c{
    background-color: rgba(255,65,54,255);
    color: white;
}
.division,.mult,.suma,.resta{
    background-color: rgba(0,116,217,255);
    color: white;
}
.igual{
    background-color: rgba(1,255,112,255);
    color: white;
}
button{
    border-color: gray;
}
.c{
    grid-column: 1/2;
    grid-row: 2/3;
}
.division{
    grid-column: 2/3;
    grid-row: 2/3;
}
.mult{
    grid-column: 3/4;
    grid-row: 2/3;
}
.resta{
    grid-column: 4/5;
    grid-row: 2/3;
}
.siete{
    grid-column: 1/2;
    grid-row: 3/4;
}
.ocho{
    grid-column: 2/3;
    grid-row: 3/4;
}
.nueve{
    grid-column: 3/4;
    grid-row: 3/4;
}
.suma{
    grid-column: 4/5;
    grid-row: 3/4;
}
.cuatro{
    grid-column: 1/2;
    grid-row: 4/5;
}
.cinco{
    grid-column: 2/3;
    grid-row: 4/5;
}
.seis{
    grid-column: 3/4;
    grid-row: 4/5;
}
.igual{
    grid-column: 4/5;
    grid-row-start: 4;
    grid-row-end: 7;
}
.uno{
    grid-column: 1/2;
    grid-row: 5/6;
}
.dos{
    grid-column: 2/3;
    grid-row: 5/6;
}
.tres{
    grid-column: 3/4;
    grid-row: 5/6;
}
.cero{
    grid-column: 1/2;
    grid-row: 6/7;
}
.punto{
    grid-column: 2/3;
    grid-row: 6/7;
}